@model BookStore.ViewModels.SupplierViewModel

@{
    ViewBag.Title = "SupplierSet";
}

@using (@Html.BeginForm("AddSupplier", "BackEnd", FormMethod.Get))
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th>@Html.DisplayNameFor(model => model.Phone)</th>
                <th>@Html.DisplayNameFor(model => model.Fax)</th>
                <th>@Html.DisplayNameFor(model => model.Adress)</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.DataList.Count.Equals(0))
            {
                foreach (var Item in Model.DataList)
                {
                    <tr>
                        <td>@Item.Name</td>
                        <td>@Item.Email</td>
                        <td>@Item.Phone</td>
                        <td>@Item.Fax</td>
                        <td>@Item.Adress</td>
                        <td>@Html.ActionLink("編輯", "", "BackEnd")</td>
                        <td>@Html.ActionLink("刪除", "", "BackEnd")</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        資料庫內查無資料
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="新增" />
}


